.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 20px;
}

.page-item {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;



  &.active {
    background-color: #383b3c;
    font-weight: bold;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
