
.location-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  background-color: rgb(51, 49, 59);
  min-width:500px;
  min-height: 250px;
  h2 {
    margin: 0 0 10px 0;
    white-space: nowrap;
  }

  p {
    margin: 5px 0;
    white-space: nowrap;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    &:hover {
      text-decoration: underline;
    }
  }
}
