.back-to-location {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
   top:20px;
   left: 1350px;
  text-decoration: none;
  color: #787879;
  transition: all 0.3s ease;
}