// colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #383839;
$white-color: #fff;

// Fontlar
$base-font-family: 'Open Sans', sans-serif;

// Temel Reset Ayarları
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}


html,
body {
  height: 100%;
  width: 100%;

}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer ve Edge */
  font-family: $base-font-family; 
  color: $white-color;
  line-height: 1.6;
  background-color: $background-color; 
}


a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $white-color;
  }
}

// Görüntüler için genel stil
img {
  max-width: 100%;
  height: auto;
}


